.resources__logo {
    max-width: 270px;
    height: 38px;
    opacity: 1;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
  }
  
  .resources__logo:hover {
    opacity: .7;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);/* чтобы лучше было видно */
  }