.cards__item {
    width: 100%;
    max-width: 240px; /* по брифу не ясно что делать с шириной, сейчас я задал свою, и все работает, но можно нам как-то обозначать что мы МОЖЕМ сами решать а что нет?
    ушло 4(ЧЕТЫРЕ) часа чтобы решить задачу по брифу не добавляя собственную ширину, потому что в брифе она не указана */
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style:none;
    margin: 0;
  }